*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
}
h1 {
    font-weight: 500;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.header-small {
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
}
nav a {
    border-bottom: 1px solid #888;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.button {
    color: #fff;
    text-decoration: none;
    line-height: 100%;
    width: 100%;
    background-color: #000;
    transition: 200ms ease-out;

    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-left: 1px solid #888;
}
.button:hover {
    background-color: #eee;
    color: #000;
}
.button:active {
    background-color: #eee;
    color: #000;
}
.cont {
    color: #fff;
    line-height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    padding: 0 30px;
    border-left: 1px solid #888;
}
.sep {
    color: #fff;
    width: 100%;
    border-top: 1px solid #888;
    display: flex;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.title-small {
    position: absolute;
    top: 275px;
    left: 50%;
    width: 100%;
    text-align: center; 
    transform: translate(-50%, -50%);
}
.title-name h1 {
    font-family: 'fs we want to run';
    font-size: 7vw;
    color: #ddd;
    margin-bottom: 2vh;
}
.title-about {
    margin-bottom: 8vh;
    font-size: 18px;
    width: 50vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ccc;
}
.title-sub {
    margin-bottom: 8vh;
    font-size: 18px;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ccc;
}
.grid200 {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    height: 200px;
    border-top: 1px solid #888;
}
.grid100 {
    display: flex;
    width: 100%;
    height: 100px;
    border-top: 1px solid #888;
}
.grid250 {
    display: flex;
    width: 100%;
    height: 250px;
    border-top: 1px solid #888;
}
.grid40 {
    display: flex;
    width: 100%;
    height: 40px;
    border-top: 1px solid #888;
}
.btnsep {
    color: #fff;
    width: 100%;
    display: flex;
}
.subtitle {
    border-top: 1px solid #888;
    color: #ccc;
    font-size: 3em;
    padding: 100px 25px 30px 25px;
}
.p {
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    color: #ccc;
    font-size: 1em;
    padding: 30px 25px;
}
.font {
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    color: #ccc;
    font-size: 1em;
    height: 170px
}
.font h1 {
    font-size: 4em;
    padding: 0px 0px 10px 0px;
    white-space: nowrap;
    overflow: hidden;
}
.font-view {
    padding: 20px 30px;
    /* position: relative; */
}
.font-desc {
    color: #888;
    padding: 25px 30px 0 30px;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}

.rb {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    max-height: 100%;
    line-height: 100%;
    background-color: #000;
    transition: 200ms ease-out;
    
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-left: 1px solid #888;
    float: right;
    height: 100%;
    line-height: 100%;
}
.rb:hover {
    background-color: #eee;
    color: #000;
}
.rb:active {
    background-color: #eee;
    color: #000;
}

.sub {
    color: #888;
    font-size: 0.8em;
    margin: 0 0 30px 0;
    position: absolute;
}
.title-sub {
    color: #888;
    font-size: 0.8em;
}

footer {
    height: 150px;
    width: 100%;
    /* position: relative; */
    background-size: cover;
    background-position: center;
    border-top: 1px solid #888;
}
footer h1 {
    font-family: 'fs we want to run';
    font-size: 24px;
    color: #eee;
    padding-top: 60px;
    text-align: center;
}

.too-small-screen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}


@media(max-width: 800px) {
    header {
        display: none;
    }
    .header-small {
        display: none;
    }
    footer {
        display: none;
    }
    .page {
        display: none;
    }
    .too-small-screen {
        display: block;
    }
}

@media(max-height: 530px) {
    header {
        display: none;
    }
    .header-small {
        display: none;
    }
    footer {
        display: none;
    }
    .page {
        display: none;
    }
    .too-small-screen {
        display: block;
    }
}

@font-face {
    font-family: 'fs picto';
    src: url('fonts/fspicto.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'FS Roundcraft';
    src: url('fonts/FSRoundcraft.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Monocode II';
    src: url('fonts/MonocodeII.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs outgroup';
    src: url('fonts/fsoutgroup.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs RID';
    src: url('fonts/fsRID.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs brushstroke';
    src: url('fonts/fsbrushstroke.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs followup';
    src: url('fonts/fsfollowup.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs letus';
    src: url('fonts/fsletus.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs a pixel away';
    src: url('fonts/fsapixelaway.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs gigolo';
    src: url('fonts/fsgigolo.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs haiserifs';
    src: url('fonts/fshaiserifs.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs we want to run';
    src: url('fonts/fswewanttorun.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs dotout';
    src: url('fonts/fsdotout.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'fs IIIonocode';
    src: url('fonts/fsIIIonocode.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/jetbrainsmono.woff2') format('woff2');
    font-display: swap;
}

.fs-picto {
    font-family: 'fs picto';
}
.fs-roundcraft {
    font-family: 'FS Roundcraft';
}
.monocode {
    font-family: 'Monocode II';
}
.fs-outgroup {
    font-family: 'fs outgroup';
}
.fs-rid {
    font-family: 'fs RID';
}
.fs-brushstroke {
    font-family: 'fs brushstroke';
}
.fs-followup {
    font-family: 'fs followup';
}
.fs-letus {
    font-family: 'fs letus';
}
.fs-apa {
    font-family: 'fs a pixel away';
}
.fs-gigolo {
    font-family: 'fs gigolo';
}
.fs-haiserifs {
    font-family: 'fs haiserifs';
}
.wwtr {
    font-family: 'fs we want to run';
}
.fs-dotout {
    font-family: 'fs dotout';
}
.fs-IIIonocode {
    font-family: 'fs IIIonocode';
}